@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'OffBit Trial';
}

a[href] {
  text-decoration: underline;
  transition: color 100ms ease-out;
}
a[href]:hover {
  color: theme('colors.emerald.700');
}

::selection {
  background-color: theme('colors.emerald.500');
}
