@import "tailwindcss";

@font-face {
  font-family: "OffBit";
  src: url("/fonts/OffBitTrial-Regular.otf");
}
@layer base {
  * {
    border-color: currentColor;
  }

  html {
    scrollbar-gutter: stable;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "OffBit";
  }

  a[href] {
    text-decoration: underline;
    transition: color 100ms ease-out;
  }
  a[href]:hover {
    color: var(--color-amber-800);
  }

  ::selection {
    background-color: var(--colors-amber-500);
  }
}

@layer utilities {
  .font-offbit {
    font-family: "OffBit";
  }
}
